body{
    display: grid;
    margin: 0;
    height: 100vh;
    grid-template-areas: 
        "header header header header"
        ". section section aside"
        "footer footer footer footer";
}

header{
    grid-area: header;
    background-color: darkcyan;
    min-height: 15vh;
}

section{
    grid-area: section;
    background-color: darkorange;
    min-height: 75vh;
}

aside{
    grid-area: aside;
    background-color: darksalmon;
    min-height: 50vh;
}

footer{
    grid-area: footer;
    background-color: darkcyan;
    min-height: 10vh;
}

